.financeARClearance-list {
    .ant-table-thead {
        background-color: #F5F5F5;
        tr {
            th {
                background-color: #F5F5F5 !important;
            }
        }
    }

    .financeARClearance-title{
        float: left;
        margin-right: 1rem;        
    }
}